@model P_TECNICA.Models.Empleado

@{
    ViewData["Title"] = "Create?e";
}

<div class="card-fluid bg-gradient" style="width: 40rem;">
    <form asp-action="Create_e">
        <div class="card-header">

            <div class="row">

                <div class="col-auto">
                    <h1 class="text-white ">CREAR EMPLEADO</h1>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <div class="d-md-flex justify-content-center  align-items-center text-center">
                        <button>
                            <a asp-action="Index" class="btn-outline-primary">Regresar</a>
                        </button>
                    </div>
                </div>
            </div>

        <div class="card-body">
            <div class="bg-gradient rounded h-100 p-0">
                <div class="row">
                    <div class="col-4 pb-2 pt-3">
                        <table class="table table-striped-columns">
                            <tbody>

                                <tr>
                                    <td colspan="2">
                                        <strong>Nombre y Apellido</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>DPI</strong>
                                        </b>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>Hijos</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>Salario Base</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 pb-2 pt-3 container-fluid">
                        <table class="table table-striped-columns">
                            <tbody>

                                <tr>
                                    <td colspan="2">
                                        <input asp-for="NombreE" class="form-control" placeholder="New"/>
                                        <span asp-validation-for="NombreE" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                            <input asp-for="DPI" class="form-control " placeholder="New" />
                                        <span asp-validation-for="DPI" class="text-danger"></span>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                            <input asp-for="Hijos" class="form-control" placeholder="New" />
                                        <span asp-validation-for="Hijos" class="text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                            <input asp-for="SalarioB" class="form-control" placeholder="New" />
                                        <span asp-validation-for="SalarioB" class="text-danger"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center align-items-center">
            <input type="submit" value="Crear nuevo empleado" class="btn btn-success align-content-center" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
