@model P_TECNICA.Models.Empleado

@{
    ViewData["Title"] = "Edit_e";
}



<div class="card-responsive bg-gradient">
    <form asp-action="Edit_e">
        <div asp-validation-summary="ModelOnly" class="text-warning"></div>
        <input type="hidden" asp-for="idEmpleados" />
        <div class="card-header">

            <div class="row">

                <div class="col-auto">
                    <h1 class="text-warning fw-bold">EDITAR EMPLEADO</h1>
                </div>
                <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                    <div class="d-md-flex justify-content-center  align-items-center text-center">
                        <button>
                            <a asp-action="Index" class="btn-outline-primary align-content-end">Regresar</a>
                        </button>
                    </div>
                </div>
             </div>
        </div>

        <div class="card-body">
            <div class="bg-gradient rounded h-100 p-0">
                <div class="row">
                    <div class="col-4 pb-2 pt-3">
                        <table class="table table-striped-columns">
                            <tbody>

                                <div class="col"></div>
                                <tr>
                                    <td colspan="2">
                                        <strong>Nombre</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>DPI</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>#Hijos</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>Salario Base</strong>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 pb-2 pt-3">
                        <table class="table table-striped-columns">
                            <tbody>

                                <tr>
                                    <td colspan="2">
                                        <input asp-for="NombreE" class="form-control" />
                                        <span asp-validation-for="NombreE" class="text-danger"></span>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input asp-for="DPI" class="form-control" />
                                        <span asp-validation-for="DPI" class="text-danger"></span>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input asp-for="Hijos" class="form-control" />
                                        <span asp-validation-for="Hijos" class="text-danger"></span>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input asp-for="SalarioB" class="form-control" />
                                        <span asp-validation-for="SalarioB" class="text-danger"></span>
                                    </td>
                                    <th scope="row"></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer align-items-center">
            <input type="submit" value="Guardar Cambios" class="btn btn-success align-content-center" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
